.welcomwHeading {
  text-align: center;
  font-size: 34px;
  font-weight: 500;
  line-height: 10px;
}
.inputBox {
  border: 2px solid rgb(239, 239, 239);
  border-radius: 14px;
  width: 250px;
  height: 45px;
  margin-left: 70px;
  margin-top: 8px;
  padding: 0px 10px;
}
.inputBox:focus {
  outline: 4px solid rgb(106, 163, 238);
}
.modalP {
  font-size: 13px;
  font-weight: bolder;
  margin-left: 70px;
}
.modalLogin {
  background-color: #e0243a;
  color: white;
  width: 270px;
  border-radius: 30px;
  height: 40px;
  border: none;
  margin-left: 70px;
  margin-top: 10px;
  cursor: pointer;
}
.modalFacebook {
  background-color: rgb(24, 119, 242);
  color: white;
  width: 270px;
  border-radius: 30px;
  height: 40px;
  border: none;
  margin-left: 70px;
  margin-top: 0px;
  cursor: pointer;
}
.modalgoogle {
  width: 270px;
  border-radius: 30px;
  height: 40px;
  border: none;
  margin-left: 70px;
  margin-top: 10px;
  cursor: pointer;
}
.modalgoogle span {
  margin-top: 50px;
}
.modalFacebook p {
  font-size: 14px;
  font-weight: bolder;
  color: white;
  margin-top: 10px;
}
.modalgoogle p {
  font-size: 14px;
  font-weight: bolder;
  margin-top: 10px;
}
.modalbottomP {
  text-align: center;
  font-size: 11px;
  color: grey;
}
.modalbottomP span {
  font-weight: bolder;
  color: black;
}
.modalhr {
  width: 200px;
  background-color: rgb(204, 193, 193);
  height: 2px;
  margin-left: 100px;
}
.modalLastP {
  font-size: 12px;
  font-weight: bolder;
  text-align: center;
  line-height: 0px;
}
.modalLastP span {
  cursor: pointer;
}
.modalLastP1 {
  font-size: 12px;
  font-weight: bolder;
  text-align: center;
  margin-top: 10px;
  line-height: 0px;
}
.modalLastP1 span {
  cursor: pointer;
}
.signupParaUp {
  color: rgb(100, 98, 98);
  font-size: 16px;
  text-align: center;
  margin-top: -6px;
}
.signuplastDiv {
  width: 119.5%;
  height: 80px;
  background-color: rgb(239, 239, 239);
  margin-left: -40px;
  margin-top: 30px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.signuplastDiv h3 {
  text-align: center;
  font-size: 18px;
}
