.header {
    position: sticky;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    height: 74px;
    z-index: 55;
    box-shadow: 0 5px 10px rgba(237, 237, 237, 0.35);
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 0 10px;
  }
  .header > .logo{
      width: 46px;
      height: 46px;
      border-radius: 50%;
      box-sizing: border-box;
      cursor: pointer;
      transition: 500ms;
      display: grid;
      place-items: center;
      margin-left: 6px;
      margin-right: 2px;
  }
  .header > .logo > img{
      height: 25px;
  }
  .header > .logo:hover{
      background-color: #eee;
      transition: 500ms;
  }
  .home{
      background-color: black;
      color: white;
      padding: 13px 16px;
      font-weight: 700;
      border-radius: 25px;
      cursor: pointer;
  }
  .today{
      color: black;
      padding: 13px 16px;
      font-weight: 700;
      border-radius: 25px;
      cursor: pointer;
  }
  .today:hover{
      background-color: #ccc;
  }
  .searchbox{
      display: flex;
      align-items: center;
      padding: 13px;
      background-color: #eee;
      border-radius: 25px;
      margin-left: 10px;
      width: 67%;
  }
  .searchbox svg{
      color: #777;
  }
  .searchbox > input{
      border: none;
      background-color: transparent;
      outline: none;
      font-size: 17px;
      width: 100%;
      margin-left: 10px;
  }
  .bell,.inbox{
      color: #666;
      cursor: pointer;
  }
  .inbox{
      position: relative;
  }
  .redNum{
      position: absolute;
      top: -2px;
      right: -7px;
      z-index: 9;
      background-color:red;
      font-size: 10px;
      padding: 2px;
      color: #fff;
      font-weight: 700;
      border-radius: 50%;
  }
  .bell{
      margin: 0 18px;
  }
  .bell svg{
      font-size: 30px;
  }
  .inbox svg{
      font-size: 25px;
      margin-top: 7px;
      margin-left: 2px;
  }
  .avatar{
      margin-left: 22px;
      cursor: pointer;
  }
  .avatar > img{
      width: 80%;
  }
  .downtown{
      margin-left: 8px;
      margin-top: 4px;
      cursor: pointer;
  }
  .gUser{
      position: absolute;
      right: 20px;
      top: 70px;
      background-color: #fff;
      padding: 15px;
      box-shadow: 4px 4px 10px rgba(220, 219, 219, 0.864),
      -4px -4px 10px rgba(220, 219, 219, 0.864);
      border-radius: 10px;
      cursor: default;
  }
  .gUserdetails{
      display: flex;
      align-items: center;
      margin-bottom: 20px;
  }
  .gUserdetails > img {
      border-radius: 50%;
      width: 70px;
      margin-right: 10px;
      cursor: pointer;
  }
  .ph3 {
    display: flex;
    flex-direction: column;
  }
  .ph3 *{
      margin: 0;
      padding: 0;
  }
  .ph3 h3:hover{
      text-decoration: underline;
      cursor: pointer;
  }
  .gUserdetails > img h3{
      margin: 0;
      color: black;
  }
  .gUserdetails > img p{
    margin: 0;
}
.logout{
    cursor: pointer;
    margin-left: 10px;
}
.detailsbtn:hover{
    text-decoration: underline;
}
.detailsbtn > a{
    color: #111;

}