.newsfeed {
  column-count: 5;
  column-gap: 16px;
  margin: 30px 20px;
}

@media (max-width: 1150px) {
  .newsfeed {
    column-count: 4;
  }
}

@media (max-width: 950px) {
  .newsfeed {
    column-count: 3;
  }
}

@media (max-width: 750px) {
  .newsfeed {
    column-count: 2;
  }
}

@media (max-width: 600px) {
    .newsfeed {
      column-count: 2;
    }
  }

  @media (max-width: 400px) {
    .newsfeed {
      column-count: 1;
    }
  }